# Environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/
.env

# Python Cache
__pycache__/
*.pyc

# Node
node_modules/

# OS Files
.DS_Store
Thumbs.db

cache/

# ML Data & Output
ml/fastf1_cache/
ml/models/
ml/scittse_tire_dataset.parquet

# Pyre configuration
.pyre_configuration